<h2> Hello {{ name }} </h2>
<p>
 Solicitação de recuperação de senha, caso queira prosseguir com o reset da sua senha, favor clicar no link abaixo: 
</p>
<p>
<a href="{{resetPasswordUrl}}" target="_blank">Recuperar Senha</a>
</p>